Flask-Cors
ImageHash
Pillow
Werkzeug
albumentations
bs4
difPy
dirsync
dnspython
docopt
flask
jinja2
matplotlib
more-itertools
numpy
opencv-contrib-python
pillow
pymongo==3.6.0
python-magic
pyyaml
scikit-learn
sklearn
termcolor
torch
torchvision
tqdm
